<head> <title>Piles Treatment : Best Health and Care Clinic : Chetan Herbals Delhi</title></head>
<section>
    <div class="container-fluid">
        <div class="row">
            <img src="./assets/disease/piles-1.jpg" alt="chetan capsule banner">
        </div>
    </div>
    <div class="container">
        <h3>Piles : Chetan Herbals</h3><hr><br>
        <div class="row">
            <div class="col-lg-6"><img src="./assets/disease/piles-2.jpg" alt="Herbal Medicine"></div>
            <div class="col-lg-6">
                <p>Ayurvedic approaches to hemorrhoid treatment are considered holistic. People experiencing hemorrhoids who want to try treating them with Ayurvedic medicine should expect herbal remedies, lifestyle changes, and possibly minimally invasive procedures as part of their treatment plan. <br>Your Ayurvedic practitioner will evaluate your overall health to determine your dominant dosha before making treatment suggestions. It’s recommended that you speak to your doctor for proper diagnosis and treatment approach.</p>
            </div>
        </div>
    </div>
</section>