<section class="mobnav">
    <div class="container-fluid">
        <div class="row">
            <img src="./assets/Chetan-Herbals-Header-1 - Copy.png" alt="">

        </div>
    </div>
</section>

<section class="desknav">
    <div class="container-fluid">
        <div class="row bg-color">
            <div id="homeslider" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#homeslider" data-slide-to="0" class="active"></li>
                    <li data-target="#homeslider" data-slide-to="1"></li>
                    <li data-target="#homeslider" data-slide-to="2"></li>
                    <li data-target="#homeslider" data-slide-to="3"></li>
                    <li data-target="#homeslider" data-slide-to="4"></li>
                    <li data-target="#homeslider" data-slide-to="5"></li>
                    <li data-target="#homeslider" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                    <img src="./assets/Chetan-Herbals-Header-1 - Copy.png" alt="First slide">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center itembgcolor">
                                    <h2>Ashwagandha Capsules</h2>
                                    <p>Ashwagandha is an evergreen shrub that grows in India, the Middle East, and parts of Africa. Its roots and orange-red fruit have been used for hundreds of years for medicinal purposes. The herb is also called Indian ginseng or winter cherry.</p>
                                    <button mat-raised-button>Add to Cart</button>&nbsp;&nbsp;&nbsp;
                                    <a mat-raised-button href="">Buy Now</a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center itembgcolor">
                                    <h2>Chetan Capsules</h2>
                                    <p>Chetan Herbal Capsule is deliver in a air tight and frosted cap packaging as to give proper protection from harsh weather conditions. It is made with a superior quality of herbs and ingredients which is supervised by our deft personnel.</p>
                                    <button mat-raised-button>Add to Cart</button>&nbsp;&nbsp;&nbsp;
                                    <a mat-raised-button href="https://www.payumoney.com/store/product/51003ad07c72f835b2d1c3b1a7a1a8f9">Buy Now</a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center itembgcolor">
                                    <h2>Chetan Tila</h2>
                                    <p>Enjoying your daily life is admirable and in that schedule sex is also a part of happy life for the people. It plays important role in building your bonding between you and your loving life partner. Using the Sex Power Capsule is a premium way to increasing the enjoyment of the sexual performance eon bed for a longer period of time.</p>
                                    <button mat-raised-button>Add to Cart</button>&nbsp;&nbsp;&nbsp;
                                    <a mat-raised-button href="https://www.payumoney.com/store/product/4d2dfb5093bab464dc59fa031b2a18fa">Buy Now</a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center itembgcolor">
                                    <h2>Dard Mochak</h2>
                                    <p>Dardmochak Oil and Capsules are the blend of Ayurvedic herbs which contain anti-inflammatory molecules and deliver broad spectrum of benefits in relieving from various pain conditions like – Joint Pain, Back Pain, Muscle Pain, Knee Pain, Elbow Pain, Shoulder Pain, Knee Pain, Leg Pain.</p>
                                    <button mat-raised-button>Add to Cart</button>&nbsp;&nbsp;&nbsp;
                                    <a mat-raised-button href="https://www.payumoney.com/store/product/3299e08bee954316dd9dab1f2090a353">Buy Now</a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center itembgcolor">
                                    <h2>Mha Mochak</h2>
                                    <p>Mha Mochak Oil and Capsules are the blend of Ayurvedic herbs which contain anti-inflammatory molecules and deliver broad spectrum of benefits in relieving from various pain conditions like – Joint Pain, Back Pain, Muscle Pain, Knee Pain, Elbow Pain, Shoulder Pain, Knee Pain, Leg Pain.</p>
                                    <button mat-raised-button>Add to Cart</button>&nbsp;&nbsp;&nbsp;
                                    <a mat-raised-button href="https://www.payumoney.com/store/product/2b1a981b7c7d8a93a907f3943e993943">Buy Now</a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center itembgcolor">
                                    <h2>Sehat Parsh</h2>
                                    <p>Sehat Prash delivering healthy, happier and better life to peoples. Because we take care of very important expects while making Sehat Prash like herbs are taken in appropriate season , appropriate time, accurate color & size. Sehat Prash made with best quality herbs as well as special method.</p>
                                    <button mat-raised-button>Add to Cart</button>&nbsp;&nbsp;&nbsp;
                                    <a mat-raised-button href="https://www.payumoney.com/store/product/c526e22314564dc9e980a27f701619a8">Buy Now</a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center itembgcolor">
                                    <h2>Shilajit Prash</h2>
                                    <p>Shilajit is a sticky substance found primarily in the rocks of the Himalayas. It develops over centuries from the slow decomposition of plants.<br>Shilajit is commonly used in ayurvedic medicine. It’s an effective and safe supplement that can have a positive effect on your overall health and well-being.</p>
                                    <button mat-raised-button>Add to Cart</button>&nbsp;&nbsp;&nbsp;
                                    <a mat-raised-button href="https://www.payumoney.com/store/product/0b495349490b463dd19044ffebee71e3">Buy Now</a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center itembgcolor">
                                    <h2>Truliv</h2>
                                    <p>You may have a headache, dizziness, nausea, and constipation as side effects of this medicine. These are usually temporary and resolves on its own, but please consult your doctor if it bothers you or persists for a longer duration. Diarrhea may also occur as a side effect but should stop when your course is complete.</p>
                                    <button mat-raised-button>Add to Cart</button>&nbsp;&nbsp;&nbsp;
                                    <a mat-raised-button href="https://www.payumoney.com/store/product/480914ae85b6cc394be5df3c7b779a0b">Buy Now</a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center itembgcolor">
                                    <h2>Triphla Churn</h2>
                                    <p>Triphla has been used in traditional Ayurvedic medicine since ancient times as a multi-purpose treatment for symptoms ranging from stomach ailments to dental cavities. It is also believed to promote longevity and overall health.</p>
                                    <button mat-raised-button>Add to Cart</button>&nbsp;&nbsp;&nbsp;
                                    <a mat-raised-button href="https://www.payumoney.com/store/product/7d6fd0999e06150c4b6d46d22074c864">Buy Now</a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#homeslider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#homeslider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>