<head> <title>Chetan Herbals : Best Health and Care Clinic : Delhi</title></head>

<section class="section">
    <div class="container-fluid">
        <h1>Chetan Herbals</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/disease/Herbal-Medicine.png" alt="">
            </div>
            <div class="col-md-6 section">
                <h2>About Chetan Herbals</h2><hr>
                <p>Ayurveda, along with being a scientific medical science, is a complete life science, Ayurveda has been providing long-term, semi-spiritual and spiritual healing benefits to human life in the country since ancient times. The roots of Ayurveda as Ayurveda medical science are spread as deep as any other medical science.</p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container-fluid">
        <h1>Ayurveda of Herbals</h1>
        <div class="row">
            <div class="col-md-6 section">
                <h2>Ayurveda Herbals</h2><hr>
                <p>Health and disease are two stages of life, in life, the process of building the body and confirming the physical metal continues. As long as there is a balance in both, It is called a healthy life. Ayurvedic medicine treatment not only cures the disease, but it has also been proposed to prevent the entire cause of the disease. This is mentioned in Ayurveda Shastra, Ayurveda does not cause any ill effects by removing the disease. The medicines mentioned in Ayurveda are life-giving.</p>
            </div>
            <div class="col-md-6">
                <img src="./assets/disease/Herbal-Medicine.png" alt="">
            </div>
        </div>
    </div>
</section>