<head> <title>Shilajit Prash : Best Health and Care Clinic : Chetan Herbals Delhi</title></head>
<section>
    <div class="row">
        <img src="./assets/product/shilajit-prash/shilajit-prash-banner.png" alt="chetan capsule banner">
    </div>
    <div class="container">
        <h1>Shilajit Prash : Chetan Herbals</h1><hr><br>
        <div class="row">
            <div class="col-lg-6"><img src="./assets/product/shilajit-prash/shilajit-prash.png" alt="Herbal Medicine"></div>
            <div class="col-lg-6"><br>
                 <h4>Shilajit Prash is made by Ayurvedic Herbs for Sexual Problems.</h4><hr>
                 <p>Shilajit is a sticky substance found primarily in the rocks of the Himalayas. It develops over centuries from the slow decomposition of plants. <br> Shilajit is commonly used in ayurvedic medicine. It’s an effective and safe supplement that can have a positive effect on your overall health and well-being.</p>
                 <a href="https://www.payumoney.com/store/product/0b495349490b463dd19044ffebee71e3" target="_blank"><button type="button" class="btn btn-primary">Buy Now</button></a>
             </div>
        </div>
    </div>
    <div class="container">
        <h3>Shilajit Prash is made by Ayurvedic Herbs for Sexual Problems.</h3><hr><br>
        <div class="row">
            <div class="col-lg-12">
                <h4>Permanent solution for mha Mochak</h4><hr>
                <p>Contains highly effective herbal extracts of Asparagus racemosus, Mineral pitch, Mucuna pruriens, Asteracantha longifolia, Tribulus terrestris, and Withania somnifera. The combination of these herbs works synergistically and helps in rejuvenation, vigour & vitality, anti Stress, loss of libido and increased stamina.</p>
                <a href="https://www.payumoney.com/store/product/0b495349490b463dd19044ffebee71e3" target="_blank"><button type="button" class="btn btn-primary">Buy Now</button></a>
            </div>
        </div>
    </div>
</section>