<head> <title>Always be Active : Best Health and Care Clinic : Chetan Herbals Delhi</title></head>
<section>
    <div class="container-fluid">
        <div class="row">
            <img src="./assets/disease/always-be-active.jpg" alt="chetan capsule banner">
        </div>
    </div>
    <div class="container">
        <h3>Always be Active your Life : Chetan Herbals</h3><hr><br>
        <div class="row">
            <div class="col-lg-6"><img src="./assets/disease/always-be-active1.jpg" alt="Herbal Medicine"></div>
            <div class="col-lg-6">
                    <p>A unique daily health supplement is a balanced combination of 10 vitamins, 9 minerals and ginseng.</p> 
                    <p>Provides energy and fights throughout the day fatigue.</p>
                    <p>Improves mental alertnesss and increases abipty to handle stress.</p>
                    <p>Helps improve immunity.</p>
                    <p>Helps improve quapty of pfe.</p>
            </div>
        </div>
    </div>
</section>
