form {
    padding: 5%;
    width: 100%;
    text-align: center;
}
h1 {
    width: 100%;
    text-align: center;
}
mat-form-field, .mat-raised-button{
    width: 580px;
}
.mat-raised-button {
color:white;
background-color: #0c5100;
font-size: larger;
padding-top: 4px;
padding-bottom: 4px;
}
.mat-raised-button:hover {
    color:#0c5100;
    background-color: white;
    transition-duration: 1s;
}
@media only screen and ( max-width: 900px) {
    mat-form-field, .mat-raised-button{
        width: 100%;
    }
}