<head> <title>Diabetes : Best Health and Care Clinic : Chetan Herbals Delhi</title></head>
<section>
    <div class="container-fluid">
        <div class="row">
            <img src="./assets/disease/diabetes-banner.png" alt="chetan capsule banner">
        </div>
    </div>
    <div class="container">
        <h3>Diabetes : Chetan Herbals</h3><hr><br>
        <div class="row">
            <div class="col-lg-6"><img src="./assets/disease/diabetes-banner.png" alt="Herbal Medicine"></div>
            <div class="col-lg-6"><br>
                <h4></h4><hr>
                <p>Diabetes Mellitus is a Chronic Metabolic illness in which the body is powerless to make proper use of glucose, resulting in the condition of hyperglycemia (high blood sugar). Excess glucose in the blood ultimately results in high levels of glucose being present in the urine (glycosuria). This increases the urine output, which leads to dehydration and increased thirst. Chetan Herbals provide best Ayurvedic Treatment for Diabetes in Many countries in the world…</p>
            </div>
        </div>
    </div>
</section>