<head> <title>Piles Treatment : Best Health and Care Clinic : Chetan Herbals Delhi</title></head>
<section>
    <div class="container-fluid">
        <div class="row">
            <img src="./assets/disease/disease-14.png" alt="chetan capsule banner">
        </div>
    </div>
    <div class="container">
        <h3>Stone Problem : Chetan Herbals</h3><hr><br>
        <div class="row">
            <div class="col-lg-6"><img src="./assets/disease/disease-14.png" alt="Herbal Medicine"></div>
            <div class="col-lg-6">
                <p>Kidney stones form when your urine contains more crystal-forming substances — such as calcium, oxalate and uric acid — than the fluid in your urine can dilute. At the same time, your urine may lack substances that prevent crystals from sticking together, creating an ideal environment for kidney stones to form.</p>
            </div>
        </div>
    </div>
</section>