<section>
  <div class="container">
      <div class="row">
          <form [formGroup]="maiVerifyForm" (ngSubmit)="maiVerifyForm.valid && onMailForm($event)" novalidate>
            <h1>Reset Password</h1>
              <div class="form-container">  
                <mat-form-field  hintLabel="Enter Registered Mail Id">
                  <mat-label>Mail Id</mat-label>
                  <input id="email" matInput formControlName="email" [(ngModel)]="loginuser.email" placeholder="Enter your Email ID" required>
                  <mat-error *ngIf="maiVerifyForm.get('email').hasError('required')">Mail ID must be required. </mat-error>
                  <mat-error *ngIf="maiVerifyForm.get('email').hasError('pattern')">Enter a valid Mail. </mat-error>
                </mat-form-field><br>
                  <button mat-raised-button type="submit" [disabled]="!maiVerifyForm.valid">Set Password</button>
              </div>
            </form>
      </div>
  </div>
</section>