p {
    text-align: justify;
}
.container {
    text-align: center;
    padding: 3%;
}
.container-fluid img {
    filter: brightness( 100% ) contrast( 123% ) saturate( 100% ) blur( 0.7px ) hue-rotate( 0deg );
    box-shadow: 0px 0px 30px 0px #0c5100;
}
.col-lg-6 img {
    filter: brightness( 100% ) contrast( 123% ) saturate( 100% ) blur( 0.7px ) hue-rotate( 0deg );
    box-shadow: 0px 0px 5px 0px #0c5100;
}
.col-lg-6 img:hover {
    box-shadow: 0px 0px 30px 0px #0c5100;
    width: 101%;
    transition: 2s;
}
.btn-primary {
    background-color: #0c5100;
    border-color: #0c5100;
    padding-left: 25px;
    padding-right: 25px;
}
.btn-primary:hover {
    background-color: #0c5100;
    border-color: #0c5100;
}