<head> <title>About Us : Best Health and Care Clinic : Chetan Herbals Delhi</title></head>

<section class="section">
    <div class="container-fluid">
        <h1>Chetan Herbals</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/disease/Herbal-Medicine.png" alt="">
            </div>
            <div class="col-md-6 section">
                <h2>About Chetan Herbals</h2><hr>
                <p>Ayurveda, along with being a scientific medical science, is a complete life science, Ayurveda has been providing long-term, semi-spiritual and spiritual healing benefits to human life in the country since ancient times. The roots of Ayurveda as Ayurveda medical science are spread as deep as any other medical science.</p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container-fluid">
        <h1>Ayurveda of Herbals</h1>
        <div class="row">
            <div class="col-md-6 section">
                <h2>Ayurveda Herbals</h2><hr>
                <p>Health and disease are two stages of life, in life, the process of building the body and confirming the physical metal continues. As long as there is a balance in both, It is called a healthy life. Ayurvedic medicine treatment not only cures the disease, but it has also been proposed to prevent the entire cause of the disease. This is mentioned in Ayurveda Shastra, Ayurveda does not cause any ill effects by removing the disease. The medicines mentioned in Ayurveda are life-giving.</p>
            </div>
            <div class="col-md-6">
                <img src="./assets/disease/Herbal-Medicine.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1>Ayurveda Shastra of Herbals</h1><hr>
        <div class="row">
            <h2>प्रयोगः शमयेत व्याधीें योन्यमन्य मुदीरयेत। नासौ विशुद्ध शुद्धस्तु शमयेत् यो न कोपयेत्।। वाग्भट्ट।।</h2>
            <p>In Ayurveda Shastra, the ayurvedic drug & yogas have been described as suitable for the human body. in which the ancient medical experts, whom we call sage-muni, with their deep experience and research, along with their direct experiments, Ayurveda the entire world, is being spread by Chetan Herbals. As a result, many countries in the world have started researching it again. All the medical's of the world, their source is Ayurveda. Ayurveda has spread the knowledge of medicine in the world.</p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1>Chetan Herbals Pvt Ltd, Faridabad</h1>
        <div class="row">            
            <p>Chetan Herbals Pvt Ltd Faridabad was founded in 2005 by Dr. Chetan Gupta Gold Medalist, Editor and Conservator of Anmol Sukh monthly Health magazine. Through this pharmacy, he has presented the drug formulations which have been fulfilled in his medical work in the form of patent capsules and tablets to Ayurveda. This is the reason why this patent product is getting special praise. We also manufacture the popular Classical yogas used in medicine, all medicines are manufactured by the method described in the scriptures.</p>
        </div>
    </div>
</section>