<head> <title>Ashwagandha Capsule : Best Health and Care Clinic : Chetan Herbals Delhi</title></head>
<section>
    <div class="container-fluid">
        <div class="row">
            <img src="./assets/product/ashwagandha/ashwagandha-capsules-banner.png" alt="chetan capsule banner">
        </div>
    </div>
    <div class="container">
        <h3>Fast facts about ashwagandha : Chetan Herbals</h3><hr><br>
        <div class="row">
            <div class="col-lg-6"><img src="./assets/product/ashwagandha/ashwagandha-capsules.png" alt="Herbal Medicine"></div>
            <div class="col-lg-6"><br>
                <h4>Ayurvedic formula to gain weight for all ages</h4><hr>
                <p>Ashwagandha is an evergreen shrub that grows in India, the Middle East, and parts of Africa. Its roots and orange-red fruit have been used for hundreds of years for medicinal purposes. The herb is also called Indian ginseng or winter cherry. <br>The name ashwagandha describes the smell of its root (like a horse). By definition, ashwa means horse. <br>The herb is considered one of the most important herbs in the Ayurvedic medicine system, a healthcare practice that started in India over 3,000 years ago.</p>
                <a href="/" target="_blank"><button type="button" class="btn btn-primary">Buy Now</button></a>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Fast facts about ashwagandha : Chetan Herbals</h3><hr><br>
        <div class="row">
            <div class="col-lg-12">
                <h4>Permanent solution for Dard Mochak</h4><hr>
                <p>Ayurvedic medicine uses herbs, special diets, and other natural practices as treatment for a variety of conditions. In Ayurvedic medicine, ashwagandha is considered a Rasayana. That means it's an herb that helps maintain youth, both mentally and physically.</p>
                <a href="/" target="_blank"><button type="button" class="btn btn-primary">Buy Now</button></a>
            </div>
        </div>
    </div>
</section>