<section>
    <div class="container mt-4">
        <div class="row">
            <button mat-button routerLink="/products" routerLinkActive="active">Continue Shopping</button>
            <span class="toolbar-spacer"></span>
            <button mat-button routerLink="/payment-order" routerLinkActive="active">Proceed to Pay</button>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="./assets/product/ashwagandha/ashwagadha-1.png" alt="">
                        </div>
                        <div class="col-md-8">
                            <form>
                            <mat-card-header>
                                <mat-card-title>Ashwagandha Capsule</mat-card-title>
                                <mat-card-subtitle>Product</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-form-field>
                                    <input matInput type="number" placeholder="Select Quantity" value="1" min="1">
                                  </mat-form-field>
                              </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button routerLink="/ashwagandha-capsules" routerLinkActive="active">View More</button>
                                <button mat-raised-button>Remove</button>
                            </mat-card-actions>
                        </form>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-4">
                <app-side></app-side>
            </div>
        </div>
    </div>
</section>