<section class="desknav">
    <mat-toolbar color="primary">
        <div>
            <a mat-button href="tel:9211166333"><mat-icon aria-hidden="false" aria-label="heart icon">phone</mat-icon> 9211166333</a>
            <a mat-button href="https://goo.gl/maps/h6grYvwW69MxWQQJ8" target="_blank"><mat-icon aria-hidden="false" aria-label="heart icon">near_me</mat-icon> Badarpur, New Delhi</a>
            <a mat-button href="mailto:chetanherbals@gmail.com" target="_blank"><mat-icon aria-hidden="false" aria-label="heart icon">local_post_office</mat-icon> chetanherbals@gmail.com</a>
        </div>
        <span class="toolbar-spacer"></span>
        <div>
            <a href="https://chat.whatsapp.com/IuPPazKCTbZ6PlWwjvu9Me" target="_blank"><mat-icon class="fa fa-whatsapp" aria-hidden="false" aria-label="heart icon"></mat-icon></a>
            <a href="https://www.facebook.com/chetanherbalsclinic/" target="_blank"><mat-icon class="fa fa-facebook-square" aria-hidden="false" aria-label="heart icon"></mat-icon></a>
            <a href="https://twitter.com/ChetanHerbals" target="_blank"><mat-icon class="fa fa-twitter-square" aria-hidden="false" aria-label="heart icon"></mat-icon></a>
            <a href="https://www.instagram.com/chetanherbals" target="_blank"><mat-icon class="fa fa-instagram" aria-hidden="false" aria-label="heart icon"></mat-icon></a>
            <a href="https://in.pinterest.com/chetanherbals/" target="_blank"><mat-icon class="fa fa-pinterest-square" aria-hidden="false" aria-label="heart icon"></mat-icon></a>
        </div>
    </mat-toolbar>    
</section>
