<div id="secdiseasecarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#secdiseasecarousel" data-slide-to="0" class="active"></li>
      <li data-target="#secdiseasecarousel" data-slide-to="1"></li>
      <li data-target="#secdiseasecarousel" data-slide-to="2"></li>
      <li data-target="#secdiseasecarousel" data-slide-to="4"></li>
      <li data-target="#secdiseasecarousel" data-slide-to="5"></li>
      <li data-target="#secdiseasecarousel" data-slide-to="6"></li>
      <li data-target="#secdiseasecarousel" data-slide-to="7"></li>
      <li data-target="#secdiseasecarousel" data-slide-to="8"></li>
      <li data-target="#secdiseasecarousel" data-slide-to="9"></li>
      <li data-target="#secdiseasecarousel" data-slide-to="10"></li>
      <li data-target="#secdiseasecarousel" data-slide-to="11"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active"><img class="d-block w-100" src="assets/disease/disease-1.png" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>Hair Lose</h4>
          <p>Alopecia areata is loss of hair in patches. In spite of the fact that it can influence any hair-bearing zone of the body, the term for the most part suggests inconstant male pattern baldness from the scalp.</p><button mat-button routerLink="/hair-lose" routerLinkActive="active">Read More</button>
        </div>
      </div>
      <div class="carousel-item"><img class="d-block w-100" src="assets/disease/disease-2.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>Over Drinking</h4>
          <p>>Excess of anything does harm to us, whether it is mental or physical harm. Intoxication is such a thing that if we take more than necessary then it starts hollowing our body from inside. There are also disadvantages of intoxication in limited quantities, but as soon as the limit is increased its negative effects multiply manifold.</p><button mat-button routerLink="/sharab-mukti" routerLinkActive="active">Read More</button>
        </div>
      </div>
      <div class="carousel-item"><img class="d-block w-100" src="assets/disease/disease-4.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>Joint Pain</h4>
          <p>As we all know, nature has given us an invaluable resource in the form of plants. In form of herbal remedies, they help us get rid of various ailments. Basically Ayurveda is all about testing the valuable properties of these herbs in treating various diseases. We can also say that Ayurveda is the science which has helped human beings stay away from diseases, over so many centuries.</p><button mat-button routerLink="/joint-pain" routerLinkActive="active">Read More</button>
        </div>
      </div>
      <div class="carousel-item"><img class="d-block w-100" src="assets/disease/disease-5.png" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>Weight Loss</h4>
          <p>It is a healthy height increase formula, which will work on the overall improvement of your immune and growth system by making you grow taller and help in regaining confidence in your personality.</p><button mat-button routerLink="/fat-loss" routerLinkActive="active">Read More</button>
        </div>
      </div>
      <div class="carousel-item"><img class="d-block w-100" src="assets/disease/disease-6.png" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>Height Up</h4>
          <p>It is a healthy height increase formula, which will work on the overall improvement of your immune and growth system by making you grow taller and help in regaining confidence in your personality.</p><button mat-button routerLink="/height-up" routerLinkActive="active">Read More</button>
        </div>
      </div>
      <div class="carousel-item"><img class="d-block w-100" src="assets/disease/disease-7.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>Sex Problems</h4>
          <p>Sex is the medicine of multiple problems. Sex brings happiness, enjoyment and makes partners close to each other. Sex develops various kinds of hormones that help in maintaining both beauty and health.</p><button mat-button routerLink="/sex-problem" routerLinkActive="active">Read More</button>
        </div>
      </div>
      <div class="carousel-item"><img class="d-block w-100" src="assets/disease/disease-8.png" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>Weight Gain</h4>
          <p>Everyone wants to have an attractive personality. A good personality contains muscular body which makes you different from the ordinary crowd. When you have an eye-catching personality, it improves your self-confidence also helps in achieving success.</p><button mat-button routerLink="/weight-gain" routerLinkActive="active">Read More</button>
        </div>
      </div>
      <div class="carousel-item"><img class="d-block w-100" src="assets/disease/disease-10.png" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>Increase Breast</h4>
          <p>Whether you’ve always dreamed of having fuller, larger breasts, or perhaps your breasts have become lax due to breastfeeding, weight loss, or aging and you would like to restore shape and fullness to your breasts, you’ll be happy to know that there is medicine to increase breast size without side effects…</p><button mat-button routerLink="/increase-breast" routerLinkActive="active">Read More</button>
        </div>
      </div>
      <div class="carousel-item"><img class="d-block w-100" src="assets/disease/disease-11.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>White Skin Problem</h4>
          <p>Vitiligo is a disease in which the pigment cells of the skin, skin fading, melanocytes, are destroyed in certain areas.<br>Symptoms and signs of vitiligo include loss of skin color in the form of depigmented, or white, patches of skin in any location on the body.</p><button mat-button routerLink="/white-skin" routerLinkActive="active">Read More</button>
        </div>
      </div>
      <div class="carousel-item"><img class="d-block w-100" src="assets/disease/disease-13.png" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>Diabetes</h4>
          <p>Diabetes Mellitus is a Chronic Metabolic illness in which the body is powerless to make proper use of glucose, resulting in the condition of hyperglycemia (high blood sugar).</p><button mat-button routerLink="/diabetes" routerLinkActive="active">Read More</button>
        </div>
      </div>
      <div class="carousel-item"><img class="d-block w-100" src="assets/disease/disease-12.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h4>Active Body</h4>
          <p>The Always Active program offers two types of classes: Multi-component Exercise and Fall Prevention. Our goal is to provide activities specifically designed for you! Our classes incorporate exercises that you can do on your own, as well as, in in a group setting. Whether you are new to exercise, or you have been exercising for years, the Always Active program and trained staff will support you in your desire to feel better and function optimally- encouraging you to achieve your goals.</p><button mat-button routerLink="/always-be-active" routerLinkActive="active">Read More</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#secdiseasecarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#secdiseasecarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>