<head> <title>Triphla Churan : Best Health and Care Clinic : Chetan Herbals Delhi</title></head>
<section>
    <div class="row">
        <img src="./assets/product/triphla-churn/triphla-churn-banner.png" alt="chetan capsule banner">
    </div>
    <div class="container">
        <h1>Triphla Churn : Chetan Herbals</h1>
        <hr><br>
        <div class="row">
            <div class="col-lg-6"><img src="./assets/product/triphla-churn/triphla-churn.png" alt="Herbal Medicine"></div>
            <div class="col-lg-6"><br>
                <h4>Triphla Churna for Gas, Acidity & Costipation.</h4><hr>
                <p>Triphla Churna is an ayurvedic product, beneficial in vision related troubles, constipation and stomach problems. Base, salt and acid mixed powder is warm in nature, digestible, tasteful and ignites hunger.</p><br>
                <p>Triphla has been used in traditional Ayurvedic medicine since ancient times as a multi-purpose treatment for symptoms ranging from stomach ailments to dental cavities. It is also believed to promote longevity and overall health. <br>It’s considered a polyherbal medicine, meaning it consists of several different medicinal herbs.</p>
                <a href="https://www.payumoney.com/store/product/7d6fd0999e06150c4b6d46d22074c864" target="_blank"><button type="button" class="btn btn-primary">Buy Now</button></a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Triphla Churn : Chetan Herbals</h1>
        <hr><br>
        <div class="row">
            <div class="col-lg-12"><br>
                <h4>Triphla Churna for Gas, Acidity & Costipation.</h4><hr>
                <p>Polyherbal formulations are popularly used in Ayurvedic medicine, a traditional system that emphasizes disease prevention and health promotion. <br>It’s believed that combining synergistic herbs results in extra therapeutic effectiveness and is a more powerful treatment than any one component taken alone. Triphla is a mixture of the dried fruits of the following three plants native to India.</p>
                <a href="https://www.payumoney.com/store/product/7d6fd0999e06150c4b6d46d22074c864" target="_blank"><button type="button" class="btn btn-primary">Buy Now</button></a>
            </div>
        </div>
    </div>
</section>