<section>
    <div class="container">
        <div class="row">
            <h1>reset Password</h1>
            <form [formGroup]="changePassword" (ngSubmit)="changePassword.valid && onNewPasswordSubmit($event)" novalidate>
                <div class="form-container">  
                  <mat-form-field  hintLabel="Enter Login email ID.">
                    <mat-label>Email Id</mat-label>
                    <input id="email" matInput formControlName="email" [(ngModel)]="loginuser.email" [ngModel]="getMailId()" placeholder="Enter your Email ID" required>
                  </mat-form-field><br>
                  <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input id="password" matInput formControlName="password" [(ngModel)]="loginuser.password" placeholder="Enter your New password" [type]="hide ? 'password':'text'" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Confirm New Password</mat-label>
                        <input id="cpassword" matInput formControlName="cpassword" [(ngModel)]="loginuser.cpassword" placeholder="Enter your Confirm password" [type]="hide ? 'password':'text'" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field><br>
                    <button mat-raised-button type="submit" [disabled]="!changePassword.valid">Login</button>
                </div>
              </form>
        </div>
    </div>
</section>